body {
display: flex;
align-items: stretch;
flex-wrap: wrap;
flex-direction: column;

font-family: -apple-system, BlinkMacSystemFont, sans-serif;
background: rgb(242,246,243);
}

    ::selection {background: rgba(0,0,0,.5);}
    ::-moz-selection {background: rgba(0,0,0,.5)}

/* 

div, header, footer, ul, li {border: 1px solid cyan;}
section {border: 1px solid red;}  */

h1, h2 {
font-weight: 600;
font-size: 1.35rem;
line-height: 1rem;
letter-spacing: 0.005rem;
color: #34C759;
}

    p {
    margin: 0 0 1rem 0;
    }

    a {
    text-decoration: none;
    color: inherit;
    }

    p a {
    border-bottom: 1px solid rgba(0,0,0,.5);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    }

    p a:hover {
    border-bottom: 1px solid rgba(0,0,0,0);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0);
    background: rgba(0,0,0,.5);
    }

/* nav */

header {
padding: .5rem;
display: flex; 
align-items: flex-start; 
justify-content: flex-start;
}

header div {

width: 100%; 
padding: .5rem .5rem;
}

logo {float: left; margin: 0;}
header logo img {margin: 0;}

header logo {width: 230px;}

nav ul li {
display: inline-block;
font-weight: 700;
margin: 0 .5rem;
}

/* global */

section {
padding: .5rem;
}

    section div {
    padding: .5rem;
    }

.flex {
display: flex;
align-items: stretch;
flex-wrap: wrap;
}

    .flex-left {flex-direction: column; justify-content: center;}
    .flex-center {align-items: center; justify-content: center;}
    .flex-bottom {justify-content: flex-start; align-items: flex-end;}


.card {
background: #fff;
border-radius: 1rem;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0);
}

#suggestions {
display: flex;
flex-direction: column-reverse;
gap: .5rem;
}

ul {padding: 0;}

li {
list-style: none;
padding: .75rem .75rem .6rem .75rem;
transition: all .4s ease-in-out;
transition-timing-function: ease;
transform: translateY(10%);
}

    .cell {
    border: 1px solid black;
    border-radius: .5rem;
    }

/* Unique */

#shadow {
display: flex;
justify-content: center;
align-items: flex-end;
position: fixed;
height: 25vh;
width: 100%;
bottom: 0;
background: linear-gradient(0deg, rgba(242,246,243,1) 0%, rgba(242,246,243,1) 60%, rgba(242,246,243,0) 100%);
z-index: 1;
}

button {
height: 50px;
font-weight: 400;
letter-spacing: 0.05rem;
margin: 0 0 2rem 0;
padding: 1rem 2rem;
background: #34C759;
color: #fff;
border: none;
border-radius: 50px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
transition: all .4s ease;
}

    button:active {
    background-color: rgba(0,0,0,.5);
    -webkit-transform: translateY(-5px)
    }

/* footer */

footer {
padding: .5rem;
display: flex; 
align-items: flex-start; 
justify-content: flex-start;
}

footer div {
width: 100%; 
padding: .5rem .5rem;
}

footer p {
text-align: center;
font-size: .75rem;
color: rgba(0,0,0,.2);
}

@media (max-width: 600px) {
main {
margin: 0;
}
}