body {
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
background: #F2F6F3;
}

    ::selection {background: rgba(0,0,0,.5);}
    ::-moz-selection {background: rgba(0,0,0,.5)}

/* 

div, header, footer, ul, li {border: 1px solid cyan;}
section {border: 1px solid red;}  */

h1, h2 {
font-weight: 600;
font-size: 1.35rem;
line-height: 1rem;
letter-spacing: 0.005rem;
color: #34C759;
}

h3 {

}

h4 {

}

    p {
    margin: 0 0 1rem 0;
    }

    a {
    text-decoration: none;
    color: inherit;
    }

    p a {
    border-bottom: 1px solid rgba(0,0,0,.5);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    }

    p a:hover {
    border-bottom: 1px solid rgba(0,0,0,0);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0);
    background: rgba(0,0,0,.5);
    }

/* nav */

header {
float: left;
width: 100vw;
}

header div {
display: flex; 
align-items: flex-start; 
justify-content: flex-start;
width: 100%; 
padding: .5rem 1rem;
}

logo {float: left; margin: 0;}
header logo img {margin: 0;}

header logo {width: 230px;}

nav {float: left;}

nav ul li {
display: inline-block;
font-weight: 700;
margin: 0 .5rem;
}

/* global */

main {
float: left;
width: 100vw;
}

    div {float: left;}

section, footer {
display: flex; 
align-items: center; 
justify-content: center;
width: 100vw;
padding: .5rem;
}

.left {float: left;}
.right {float: right;}

.width_25 {width: 25%;}
.width_33 {width: 33.33%;}
.width_50 {width: 50%;}
.width_66 {width: 66.66%;}
.width_75 {width: 75%;}
.width_100 {width: 100%;}

.grey {background-color: #f7f7f7;}
.blue {background-color: #14213d;}
.gold {background-color: #80714a;}

.flex {
display: flex;
align-items: stretch;
flex-wrap: wrap;
}

    .flex-left {flex-direction: column; justify-content: center;}
    .flex-center {align-items: center; justify-content: center;}
    .flex-bottom {justify-content: flex-start; align-items: flex-end;}

button {
height: 50px;
font-weight: 400;
letter-spacing: 0.05rem;
margin: 0 0 .5rem 0;
padding: 1rem 2rem;
background: #34C759;
color: #fff;
border: none;
border-radius: 50px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
/*
transition: all .4s ease;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease; */
}

    button:active {
    background-color: rgba(0,0,0,.5);
    -webkit-transform: translateY(-5px)
    }

.card {
min-height: 80vh;
background: #fff;
border-radius: .5rem;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#myDiv {
display: flex;
flex-direction: column;
gap: .5rem;
}

.cell {
padding: 0px;
    
border: 1px solid black;
border-radius: .5rem;
transition: all .4s ease-in-out;
}

/* UNique */

#shadow {
position: fixed;
bottom: 0;
height: 25vh;
width: 100vw;
background: -webkit-linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

#shadow::before {
position: relative;
top: 1;
height: 25vh;
width: 100vw;
background: red;
}

/* figure */

.figure-container {
display: flex; 
align-items: center;
justify-content: center;
padding: .25rem;
}

.flex figure {
position: relative;
}

figure {
padding: .25rem;
}

figure img {width: 100%;}

/* footer */

footer {
float: left;
width: 100vw;
padding: 1rem;
color: #fff;
}

footer logo {width: 70px;}

footer div {padding: .5rem;}

@media (max-width: 600px) {
main {
margin: 0;
}
}